@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comme:wght@700;600&display=swap');

div,
body {
    margin: 0;
    padding: 0;
}

#all {
    position: relative;
    margin-left: -2.1%;
    max-width: 100wv;
    overflow: hidden;
}

#head {
    width: 100%;
    padding: 3em 2%;
    position: static;
    z-index: 0;
    padding-bottom: 1em;
}

#head ul {
    list-style: none;
    display: inline;
    padding-top: 0.5em;
}

#head ul li:first-of-type {
    margin-left: 3%;
}

#head ul li {
    display: inline;
    margin-left: 4%;
    font-size: 1.1em;
}

.head_link {
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-family: 'Barlow', sans-serif;
    font-size: 1.1em;
    transition: 0.5s;
}

.head_link:hover {
    text-shadow: 1px 1px 1px black;
    cursor: pointer;
}

#head_btn {
    padding: 0.6em 1.5em;
    border: solid rgb(30, 30, 30) 0.1em;
    border-radius: 4px;
    color: black;
    text-decoration: none;
    margin-left: 46.1%;
    font-family: 'Comme', sans-serif;
    transition: 1s;
    font-size: 1.2em;
    font-weight: 700;
    cursor: pointer;
}

#head_btn:hover {
    color: white;
    background: rgb(30, 30, 30);
}

#first {
    width: 100%;
    height: 38em;
    padding: 0 2%;
}

#first_h2 {
    font-size: 5em;
    margin-top: 0.5em;
    margin-left: 5%;
    margin-bottom: 0.1em;
    font-family: 'Comme', sans-serif;
    font-weight: 700;
}

#first_des {
    font-size: 1.1em;
    font-weight: 300;
    margin-left: 5%;
    font-family: 'Barlow', sans-serif;
    font-style: italic;
    margin-top: -0.5em;
}

#first_img {
    width: 46%;
    margin-left: 44%;
    margin-top: -22em;
}

#first_left {
    position: absolute;
    float: left;
    width: 32%;
    margin-top: 8em;
}

#first_btn {
    padding: 0.6em 2.4em;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    font-family: 'Comme', sans-serif;
    transition: 1s;
    font-size: 1.2em;
    font-weight: 700;
    border: solid rgb(30, 30, 30) 0.1em;
    background-color: rgb(30, 30, 30);
    position: absolute;
    margin-left: 5.4%;
    margin-top: 2em;
    cursor: pointer;
}

#first_btn:hover {
    opacity: 0.9;
}

#first_right {
    position: absolute;
    float: right;
    width: 8%;
    margin-top: 14em;
    margin-left: 92%;
}

#second {
    background-color: rgb(30, 30, 30);
    width: 100%;
    height: 20em;
    position: relative;
    margin-top: -4em;
}

#second_left {
    width: 28%;
    margin-top: 2em;
}

#second_right {
    position: absolute;
    width: 28%;
    margin-left: 48%;
    margin-top: 13em;
}

#second_h2 {
    position: relative;
    color: white;
    font-family: 'Comme', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    margin-top: -4em;
    text-align: center;
}

#second_des {
    color: white;
    text-align: center;
    font-weight: 300;
    font-family: 'Barlow', sans-serif;
    font-style: italic;
    font-size: 1.1em;
    font-weight: 400;
    position: relative;
    margin-top: -1em;
}

#second_btn {
    color: white;
    text-decoration: none;
    font-family: 'Comme', sans-serif;
    transition: 1s;
    font-size: 1.2em;
    font-weight: 700;
    padding: 0.6em 2em;
    border: solid white 0.1em;
    border-radius: 4px;
    position: absolute;
    margin-left: 42.5%;
    margin-top: 1em;
}

#second_btn:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

#third {
    padding: 5em;
    padding-top: 6em;
}

#third hr {
    height: 0.1em;
    margin-right: 90%;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    background-color: rgb(30, 30, 30);
}

#third div {
    float: left;
    margin-left: 6%;
}

#third div:first-child {
    margin-left: 6.6%;
}

#third img {
    width: 86%;
}

#third h2 {
    margin: 0;
    margin-bottom: 0.4em;
    font-family: 'Comme', sans-serif;
}

#third .des {
    font-style: italic;
    font-size: 0.95em;
    margin: 0;
    font-weight: 300;
    font-family: 'Barlow', sans-serif;
    margin-bottom: 8em;
}

#third_left {
    position: absolute;
    margin-left: -3%;
    margin-top: -2em;
}

#third_right {
    position: absolute;
    margin-left: 92%;
    margin-top: 6em;
}

#fourth {
    padding-top: 40em;
    padding-bottom: 10em;
}

#fourth h2 {
    font-family: 'Comme', sans-serif;
    font-size: 5em;
    margin-bottom: 0.6em;
    text-align: center;
    margin-top: -1em;
}

#fourth h2 span {
    font-style: italic;
    border-bottom: solid black 4px;
}

#fourth_left {
    position: absolute;
    margin-top: 12em;
    margin-left: 14%;
}

#fourth_right {
    position: absolute;
    margin-left: 82.2%;
    margin-top: -14em;
}

#fourth_center {
    position: absolute;
    margin-left: 47%;
    margin-top: -10em;
}

#fourth_des {
    font-family: 'Comme', sans-serif;
    font-weight: 600;
    font-size: 1.1em;
    position: static;
    margin-left: 34%;
}

.vr {
    border-right: solid black 2px;
    padding-right: 0.3%;
}

#fiveth {
    margin-top: 8em;
}

#fiveth_top {
    position: absolute;
    width: 34%;
    margin-top: -22em;
    margin-left: 10%;
}

#fiveth_right {
    position: absolute;
    width: 26%;
    margin-top: -22em;
    margin-left: 46%;
}

#fiveth_down {
    position: absolute;
    margin-left: 82%;
    margin-top: 20em;
}

#fiveth_down:hover {
    cursor: pointer;
}

#fiveth_left {
    position: absolute;
    width: 4.4%;
    margin-left: 7.6%;
    margin-top: -6em;
}

#fiveth h2 {
    font-family: 'Comme', sans-serif;
    font-size: 2.2em;
    margin-left: 46%;
    margin-top: 13em;
    line-height: 1.5em;
    padding-bottom: 4em;
}

.fiveth_h2 {
    border-bottom: solid black 0.1em;
}

#fiveth_des {
    position: absolute;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    margin-left: 66%;
    margin-top: -21.9em;
}

#sixth {
    background-color: rgb(30, 30, 30);
    color: white;
    padding-top: 6em;
    position: relative;
}

#sixth h2 {
    font-size: 3.4em;
    margin: 0;
    margin-left: 10%;
    font-family: 'Comme', sans-serif;
}

#sixth_right {
    position: absolute;
    margin-left: 50%;
    width: 48%;
}

#sixth_left {
    position: absolute;
    margin-top: 33em;
}

#sixth_des {
    margin-left: 10%;
    margin-top: 4em;
}

#sixth_des h3 {
    font-family: 'Comme', sans-serif;
    font-size: 1.3em;
}

#sixth_des div {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
}

#sixth_last {
    padding-bottom: 9em;
}

#white {
    width: 100%;
    height: 2em;
    position: absolute;
    margin-top: -6em;
    background-color: white;
}

#seventh {
    position: relative;
    padding-top: 6em;
}

#seventh h2 {
    font-family: 'Comme', sans-serif;
    font-size: 4em;
    margin: 0;
    margin-top: 0.4em;
    margin-bottom: 1.4em;
    margin-left: 10%;
}

#seventh_des {
    margin-left: 10%;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
}

#seventh_des hr {
    position: relative;
    border: solid black 1px;
    margin: 0;
    padding: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 48%;
}

#seventh_des hr:last-of-type {
    margin-bottom: 6em;
}

.plus {
    position: absolute;
    font-size: 2em;
    margin-left: 2%;
    margin-top: -0.3em;
}

.plus:hover {
    cursor: pointer;
}

#seventh_right {
    position: absolute;
    margin-left: 66%;
}

.sev_des {
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    margin-left: 2%;
}

#eightth {
    padding-top: 4em;
}

#eightth_left {
    position: absolute;
    margin-left: 1.9em;
    margin-top: -2em;
}

#eightth_right {
    position: absolute;
    margin-left: 74%;
    margin-top: 38em;
}

#eightth h2 {
    font-family: 'Comme', sans-serif;
    margin: 0;
    font-size: 5em;
    text-align: center;
    padding-bottom: 0.6em;
}

.eightth_des {
    text-align: center;
    border: solid black 0.1em;
    border-radius: 4px;
    width: 22%;
    padding: 3em 0.5em;
    float: left;
    margin-left: 1.4%;
    transition: 1s;
}

.eightth_des:hover {
    cursor: pointer;
    opacity: 0.9;
    background-color: rgb(230, 230, 230);
}

.eightth_des h3 {
    font-family: 'Comme', sans-serif;
    margin-top: 2em;
    font-size: 1.1em;
}

.eightth_des div {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
}

#des_first {
    margin-left: 14%;
}

.arrow {
    position: absolute;
    padding: 0.5em;
    border: solid black 0.1em;
    border-radius: 4px;
    transition: 1s;
    background-color: white;
}

.arrow:hover {
    opacity: 0.9;
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}

#right_a {
    margin-left: 88%;
    margin-top: 24em;
}

#left_a {
    margin-top: 24em;
    margin-left: 9%;
}

#nineth {
    margin-top: 36em;
}

#nineth_right {
    position: absolute;
    width: 40%;
    margin-left: 54%;
}

#nineth h2 {
    font-family: 'Comme', sans-serif;
    font-size: 5em;
    margin-bottom: 0.2em;
    margin-left: 12%;
}

#nineth form {
    margin-left: 12%;
}

#nineth form input {
    padding: 1em;
    margin-top: 2em;
    width: 32%;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 1em;
    border: solid black 2px;
    border-radius: 4px;
}

#nineth form textarea {
    border: solid black 2px;
    border-radius: 4px;
    margin-top: 2em;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 1em;
    padding: 1em;
    width: 32%;
    height: 6em;
    resize: none;
}

#nineth form input:last-child {
    background-color: rgb(30, 30, 30);
    color: white;
    font-family: 'Comme', sans-serif;
    font-size: 1.2em;
    margin-left: 1.4%;
    transition: 1s;
    margin-bottom: 4em;
}

#nineth form input:last-of-type:hover {
    cursor: pointer;
    opacity: 0.9;
}

#tenth {
    background-color: rgb(240, 240, 240);
    position: relative;
    margin-bottom: -4em;
    margin-top: -2em;
}

#tenth_left {
    position: absolute;
    margin-top: 18em;
}

#tenth h2 {
    font-family: 'Comme', sans-serif;
    font-size: 4.2em;
    margin-left: 1em;
    padding-top: 0.8em;
    padding-bottom: 3.6em;
}

#tenth_right {
    position: absolute;
    margin-top: -29.6em;
    margin-left: 28%;
    width: 70%;
}

#tenth_right div {
    float: left;
    margin-top: -1em;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    line-height: 2em;
    font-size: 1.4em; 
}
#tenth_right div:not(:first-of-type) {
    margin-left: 10%;
}
#tenth_right div a {
    color: black;
    text-decoration: none;
    transition: 1s;
}
#tenth_right div a:hover {
    opacity: 0.5;
}
#tenth_right h3 {
    font-family: 'Comme', sans-serif;
    font-size: 2.2em;
}

#tenth_des {
    position: absolute;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    margin-left: 36%;
    margin-top: -7em;
}